<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeCollab</title>
</head>
<body>
  <header>
    {{!-- Put logo up here somewhere --}}
    <h1>CodeCollab</h1> 
  </header>
  <nav>
    {{!-- Navbar to display options --}}
    <p>Dashboard</p>
    <p>Login</p>
    <p>Sign-up</p>
  </nav>
  <main>
    {{{body}}}
  </main>
</body>
</html>