<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeCollab</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    {{!-- Put logo up here somewhere --}}
    <!--<a href="/"><img src="" alt=""></a>-->
    <div class="hero">
        <nav>
            <h1>CodeCollab</h1> 
              <ul>
                  {{!-- Navbar to display options --}}
               <li><a href="../dashboard">Dashboard</a></li>
               <li><a href="../signup">Sign-up</a></li>
              </ul> 
        </nav>
    </div>
  </header>
  <main>
    {{{body}}}
  </main>

  <footer>
      <div>
         <!-- Render login and logout links if conditions permit -->
        {{#if loggedin}}
        <a href="/dashboard">dashboard</a>
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
         {{/if}}
      </div>
  </footer>
 <!--Render logout if user is already logged in-->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>