<button id="postBtn" onclick="postButton()">Add a post</button>

<form id="postForm" style="display: none">
</form>

<div class="post">
    <div class="box">
        {{!-- <div class="image"><img src="{{image source}}"></div> --}}
             {{#each allPosts as |post|}}
             <p>{{post.content}}</p>
             {{!--<p>{{username}} on {{format_date on date_created}} </p> --}}
             {{/each}}
           
    </div>
</div>

<script src="/js/post.js"></script>
