<div class="post">
    <div class="box">
        {{!-- <div class="image"><img src="{{image source}}"></div> --}}
             {{#each allPosts as |post|}}
             <p>{{post.content}}</p>
             {{/each}}
     {{!--Posted by {{User.username}} on {{format_date createdAt}} --}}
    </div>
</div>