<div id="postButtonDiv" style="display: flex">
    <button id="post-btn">Add a post</button>
</div>

<form id="postForm" style="display: none">
    <input type="text" placeholder="Give us your code!" id="content" name="post content" required>
    <input type="text" placeholder="Upload a picture!" id="picture" name="post picture">
    <button id="submit-btn">Post</button>
</form>

<div class="post">
    <div class="box">
        {{!-- <div class="image"><img src="{{image source}}"></div> --}}
             {{#each allPosts as |post|}}
             <p>{{post.content}}</p>
             {{!--<p>{{username}} on {{format_date on date_created}} </p> --}}
             {{/each}}
           
    </div>
</div>

<script src="/js/post.js"></script>
