<div class="card">
    <div class="card-header">
      <h2>Logout?</h2>

          <div class="form-group">
               <button type="submit" id="logout-btn-yes" class="btn" >Yes</button>
          </div>
          <div class="form-group">
               <button type="submit" id="logout-btn-no" class="btn" >No</button>
          </div>
      </form>
    </div>
    <script src="js/logout.js"></script>
</div>