<div class="title">
    <div class="centre">
      <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
       <form class="form signup-form">
            <div class="form-group">
                <label for="user-id"><b>User ID</b></label>
                <input type="text" placeholder="Enter User ID" name="user-id" required></input>

               <label for="email"><b>Email</b></label>
               <input type="text" placeholder="Enter Email" name="email" required></input>
      
               <label for="psw"><b>Password</b></label>
               <input type="password" placeholder="Enter Password" name="psw" required></input>
      
               <label for="psw-repeat"><b>Repeat Password</b></label>
               <input type="password" placeholder="Repeat Password" name="psw-repeat" required></input>
      
               <label>
               <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me </input>
               </label>
            </div>
        </form>
   
    </div>
</div>