<div class="page">
    <div class="content">
        {{!-- <div class="image"><img src="{{image source}}"></div> --}}
             {{#each allPosts as |post|}}
             <p>{{post.content}}</p>
             {{/each}}
             {{#each allUser as |user|}}
             <p>{{username}}</p>
             {{/each}}
           
    </div>
</div>